<section class="material-half-bg">
	<div class="cover"></div>
</section>
<section class="login-content">
	<div class="logo">
		<h1>Class Schedule System</h1>
	</div>
	<div class="login-box">
		<form class="login-form" method="post" action="#">
			<h3 class="login-head">
				<i class="fa fa-lg fa-fw fa-user"></i>REGISTER
			</h3>
			<div class="form-group">
				<label class="control-label">USERNAME</label>
				<input name="userName" class="form-control" type="text" placeholder="UserName">
			</div>
			<div class="form-group">
				<label class="control-label">PASSWORD</label>
				<input name="password" class="form-control" type="password" placeholder="Password">
			</div>
			<div class="form-group btn-container">
				<a href="javascript:void(0)" class="btn  btn-primary btn-block" id='registerButton'>REGISTER</a>
			</div>
			<div class="form-group mt-3">
				<p class="semibold-text mb-2">
					<a href="/account/login" style="float: right;">Back to Login</a>
				</p>
			</div>
		</form>
	</div>
</section>

<script type="text/javascript">
$(document).ready(function(){
	
	$("#registerButton").bind("click", function() {
		var user = {};
		user.userName = $("[name='userName']").val();
		user.password = $("[name='password']").val();
		$.ajax({
			url : "/account/doRegister",
			type : "post",
			contentType: "application/json",
			data : JSON.stringify(user),
			success : function (data) {
				if (data.status == 200) {
					alert(data.message);
					location.href = "/account/gologin";
				} else {
					alert(data.message);
				}
			},
			error : function (data) {
				alert(data.message);
			}
		});
	});
});
</script>